<h1>Usuarios</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Total Mensajes</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.messages.count %></td>
        <td>
          <%= link_to 'Ver', user_path(user), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Editar', edit_user_path(user), class: 'btn btn-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Usuario', new_user_path, class: 'btn btn-success mb-3' %>