<h1>Detalles del Chat</h1>
<p><strong>ID:</strong> <%= @chat.id %></p>
<p><strong>Remitente:</strong> <%= @chat.sender.email %> (<%= @chat.sender.first_name %> <%= @chat.sender.last_name %>)</p>
<p><strong>Receptor:</strong> <%= @chat.receiver.email %> (<%= @chat.receiver.first_name %> <%= @chat.receiver.last_name %>)</p>
<p><strong>Cantidad de mensajes:</strong> <%= @chat.messages.count %></p>
<%= link_to 'Volver', chats_path, class: 'btn btn-secondary' %>